
@{
    ViewBag.Title = "Index";
}

<section id="player-search">
    <h1 class="tracking-in-contract">
        Player Search
    </h1>
    <h2>
        Enter the Epic Username of any Fortnite player below to reveal their stats.
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="form-row" id="username-input">
                    <div class="input-group input-group-sm col-lg-6 mx-auto mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Epic Username
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1" id="epic-username-input">
                    </div>
                </div>
                <br />
                <button class="btn btn-primary" id="player-search-button">Search</button>
                <p id="does-not-exist"></p>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</section>
<section id="search-stats-display">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 stat-col">
            <div id="player-stats">
            </div>
            <div class="row" id="more-stats">
                <div class="col-lg-4">
                    <h4>Solo</h4>
                    <h5 class="win-color" id="solo-wins-count"></h5>
                    <h6 class="win-color">Wins</h6>
                    <h5 class="elim-color" id="solo-elim-count"></h5>
                    <h6 class="elim-color">Eliminations</h6>
                    <h5 class="kdr-color" id="solo-kd"></h5>
                    <h6 class="kdr-color">KDR</h6>
                    <h5 class="matches-color" id="solo-matches-count"></h5>
                    <h6 class="matches-color">Matches</h6>
                </div>
                <div class="col-lg-4">
                    <h4>Duo</h4>
                    <h5 class="win-color" id="duo-wins-count"></h5>
                    <h6 class="win-color">Wins</h6>
                    <h5 class="elim-color" id="duo-elim-count"></h5>
                    <h6 class="elim-color">Eliminations</h6>
                    <h5 class="kdr-color" id="duo-kd"></h5>
                    <h6 class="kdr-color">KDR</h6>
                    <h5 class="matches-color" id="duo-matches-count"></h5>
                    <h6 class="matches-color">Matches</h6>
                </div>
                <div class="col-lg-4">
                    <h4>Squad</h4>
                    <h5 class="win-color" id="squad-wins-count"></h5>
                    <h6 class="win-color">Wins</h6>
                    <h5 class="elim-color" id="squad-elim-count"></h5>
                    <h6 class="elim-color">Eliminations</h6>
                    <h5 class="kdr-color" id="squad-kd"></h5>
                    <h6 class="kdr-color">KDR</h6>
                    <h5 class="matches-color" id="squad-matches-count"></h5>
                    <h6 class="matches-color">Matches</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
</section>

@section scripts{
    <script type="text/javascript" src="~/Scripts/js/api.js"></script>
}