
@{
    ViewBag.Title = "Josh";
}

<br />
<br />
<br />
<div class="row">
    <div class="col-lg-6">
        <h1 class="text-center" id="josh-title">Joshua M.</h1>
        <br />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium augue a lectus fringilla semper. Mauris at imperdiet risus. Nam sagittis id nibh vel porta. Ut nec congue mi, sit amet tempus risus. Integer at dignissim turpis, ut laoreet velit. Nulla facilisi. Morbi ultricies at ante ut iaculis. Pellentesque viverra luctus lacus id ullamcorper. Etiam lacinia in velit eu gravida. Maecenas finibus erat leo, sed maximus dui dapibus eget. Cras mollis semper enim sit amet egestas. Etiam ut condimentum enim.
        </p>
        <p>
            Aenean at arcu justo. Pellentesque eros odio, suscipit vitae placerat et, volutpat fermentum ante. Donec odio odio, finibus nec molestie eu, congue quis nulla. Praesent euismod sit amet arcu vehicula interdum. Aenean urna metus, suscipit auctor aliquam sed, interdum eleifend nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum dictum ipsum quis laoreet auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In interdum varius ante at tristique. Mauris ut lectus pellentesque, laoreet arcu ut, fringilla lacus. Sed hendrerit nec sem at imperdiet. Nunc nec nunc at lorem placerat vestibulum. Cras non massa sed ex vestibulum porttitor. Cras id ultrices nunc.
        </p>
        <p>
            Sed in tortor malesuada, tincidunt tortor vitae, vehicula risus. Etiam volutpat diam eu nisi hendrerit porta. Sed non ultricies dui, et porttitor diam. Sed tincidunt metus in turpis cursus, facilisis vehicula elit gravida. Integer faucibus dolor euismod arcu cursus euismod. Duis non eros condimentum, feugiat velit in, aliquam magna. Nam et turpis convallis neque luctus accumsan. Aliquam erat volutpat. Vivamus fermentum interdum lorem quis tristique. In quis eros erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris condimentum justo lorem, vel semper dolor semper eget. In pulvinar dignissim odio eu cursus. Donec sit amet massa eget libero fermentum dictum.
        </p>
        <p>
            Quisque faucibus pulvinar tristique. Vestibulum sagittis accumsan sapien, vitae fringilla neque elementum in. Donec eget gravida mi, ac porta lorem. Sed quis enim sit amet ante dapibus imperdiet. Curabitur semper mi sit amet odio tempor, at malesuada nisi suscipit. Suspendisse a posuere mauris. Donec volutpat, arcu et aliquam tincidunt, odio sem tempus felis, ut cursus lacus odio eu massa. In fermentum metus diam, at ultricies leo mattis eu. Duis tellus libero, bibendum vel varius ut, auctor et eros. Integer dignissim, dui eget dignissim feugiat, lacus lectus convallis elit, vel pretium sem lacus cursus erat. Ut molestie dui ligula, vitae varius lorem pretium at. Suspendisse potenti. Quisque ac venenatis nibh, a dictum ex. Proin id sem et diam condimentum ultricies. Ut at magna a ante accumsan luctus id vel lacus.
        </p>
        <p>
            Fusce sed arcu leo. Fusce id mattis elit. Sed sollicitudin condimentum massa, nec interdum velit tristique at. In hac habitasse platea dictumst. Duis arcu mauris, interdum sit amet tellus sed, molestie rutrum ex. Curabitur turpis ligula, sodales a lectus quis, interdum facilisis lacus. Proin laoreet tincidunt semper.
        </p>
    </div>
    <div class="col-lg-6">
        <img src="~/Images/DSC_0125.jpg" class="rounded float-right sticky" id="josh-img" />
    </div>
</div>

