
@{
    ViewBag.Title = "Paul";
}
    <div class="alert alert-success" role="alert">
        <h1 class="alert-heading">"A bit about myself..."</h1>
        <hr />
        <h2>
            My name is Paul Moreno, I was born in sunny San Diego, California and have been living in Monmouth, Oregon for about 3 years.

            <div class="text-center">
                <img src="https://assets3.thrillist.com/v1/image/2865436/size/tl-full_width_tall_mobile.jpg" class="rounded" alt="...">
            </div>
            <br />
            I like to tinker with all sorts of things ranging from game mods to car interior.
            There are many things that I like to read and learn about, but technology is the one that sticks out the most.
            When I was a kid I would play soccer and games quite often. Music has been a big influence, when
            I lived in mexico my dad would listen to some spanish music or classical.
            Years later I like to listen to both, but now add some metal and electronic music.

            <div class="text-center">
                <img src="https://lh4.googleusercontent.com/proxy/45ndm5THdrs1c0Mbn_ke9mGZt85X4IBLzrilN8zU5yBFt0e37cDr-3TZb8f5NBZ4YsSDx02cq1pcuA3-tbUpITwm4wLN3yijorWNFXT5JSvBEPbv6FQe44k" class="rounded" alt="...">
            </div>
            <br />
            When I was in community college I was majoring in music technology/production, but changed my mind after not being able to find a sustainable income.
            I took some time off and reevaluated what I wanted major in. During that time I woked at a local restaurant as a server for a few years and then promoted to a manager for about a year and a half.
            <div class="text-center">
                <img src="https://lh3.googleusercontent.com/proxy/yJNVKRZh128sv1XtcAlpCbcFZPObTB6Jbq6aCfyQHIeoSH9OTNkS6bJj8TjHKvBZcq5YHeZaz5JK8LnCSYQBNlkLmnjVNIHOzsEM0Z1TaiTWnUxiq7VmQTnnnxBPMxVRWhnIvTJyycLz7pMXW9g8A-gRmUCquwFmFav2h18" class="rounded" alt="...">
            </div>
            <br />
            After sometime I went back to school so I could transfer to some other school, while still working.

            Making music is now more of a passion project. I've learnt a few things from people who are in the hobby of making their own music as well, but mastering tracks is something that I am striving for.
            <a href="https://soundcloud.com/stick_exe">My soundcloud for those who are interested:)</a>

        </h2>
        <h2>Paul</h2>

