@{
    ViewBag.Title = "Adding Numbers";
}

<div class="container">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">X Value</span>
            </div>
            <input name="x" type="text" class="form-control" placeholder="Enter...">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Y Value</span>
            </div>
            <input name="y" type="text" class="form-control" placeholder="Enter...">
        </div>
        <div class="form-group">
            <input type="submit" value="Submit Button" class="btn btn-primary" />
        </div>
    }
    <div>
        <h2>Added: @ViewBag.ZValue</h2>
    </div>
</div>