@{
    ViewBag.Title = "Index";
}

<h2>GetCharacters</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-5 jumbotron">
            <div id="character-list">
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/main.js"></script>
}