@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">X Value:</span>
                </div>
                <input name="x" type="text" class="form-control" placeholder="Enter Value..." />
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Y Value:</span>
                </div>
                <input name="y" type="text" class="form-control" placeholder="Enter Value..." />
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        }
        <h1>Added: @ViewBag.XVal</h1>
    </div>
