@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align: center">Launch Me Boi</h1>
<div id="launch-list" class="row"></div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    }