@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12 jumbotron jumbotron-fluid" style="background-color:black;">
        <div class="container">
            <!--WELCOME part-->
            <h1 style=" text-align:center; color: white;">Welcome to Star Wars! <p style="color:goldenrod;">#JPAPZ edition</p></h1>
        </div>
    </div>
    <br />
    <div class="jumbotron" style="bg-black">
        <h3>Hello there friend!</h3>
        <hr class="my-4">
        <br />
        <p>
            <!--ABOUT part-->
            Welcome to the #JPAPZ Star Wars website!
            Here you will find a multitude of ways our team can demonstrate our programming expertise, and what better way to do it than with a Star Wars theme.
            Please feel free to navigate through our site as we look forward to hearing your feedback.
            Lastly don't forget to check us out on our respective pages.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-lg-5 jumbotron">
        <h1>Jedi</h1>
        <hr class="my-4">
        <p>The Jedi are the protectors of peace and fight to use the force for good across the stars.</p>
        <a class="btn btn-primary" href="https://starwars.fandom.com/wiki/Jedi" role="button">Join The Jedi Knights</a>
    </div>

    <div class="col-lg-2">

    </div>


    <div class="col-lg-5 jumbotron">
        <h1>Sith</h1>
        <hr class="my-4">
        <p>The Sith are deadly assassins who work in the shadows, holding power in all places including the high council.</p>
        <a class="btn btn-danger" href="https://starwars.fandom.com/wiki/Sith" role="button">Join The Dark Side</a>
    </div>
</div>

<br />
<br />

<div class="footer">
    <div class="row">
        <div class=" col-lg-12 jumbotro jumbotron-fluid" style="background-color: black;">
            <h1 style=" text-align: center; color: white;">May The Force Be With You!</h1>
        </div>
    </div>
</div>

