body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-pad{
    padding-left: 50px;
    padding-right: 50px;
}

#nav-title{
    font-size: 32px;
}

#josh-title{
    font-size: 80px;
    color: rgba(0,0,0, .75);
    text-decoration: underline;
}
#josh-img{
    max-height: 600px;
}

footer{
    background-color: white;
    max-height: 20px;
}

img.sticky {
    position: sticky;
    top: 0;
}