body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(0,0,0);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#stats-jumbo {
    background-color: #312F2F;
    color: white;
}

.stat-number {
    font-size: 50px;
    font-weight: 600;
}

#elim-number {
    color: #84DCCF;
}

#matches-number {
    color: #F6E8EA;
}

#kd-number {
    color: #EF626C;
}

.white-txt {
    color: white;
}


/* ---------- User Profiles ---------- */
#top-display {
    margin-left: 5vw;
    margin-right: 5vw;
}

#top-display .stats {
    font-family: 'Russo One', sans-serif;
    text-align: right;
}

#top-display h1{
    font-size: 70px;
}

#top-display h2{
    font-size: 85px;
}

#top-display h3{
    font-size: 20vh;
    padding: 0;
}

#top-display #elims {
    color: #84DCCF;
}

#top-display #matches {
    color: #F6E8EA;
}

#top-display #kdr {
    color: #EF626C;
}
