body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(0,0,0);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#stats-jumbo {
    background-color: #312F2F;
    color: white;
}

.stat-number {
    font-size: 50px;
    font-weight: 600;
}

#elim-number {
    color: #84DCCF;
}

#matches-number {
    color: #F6E8EA;
}

#kd-number {
    color: #EF626C;
}

.white-txt {
    color: white;
}


/* ---------- User Profiles ---------- */
#top-display {/*
    margin-left: 5vw;
    margin-right: 5vw;*/
              margin-top: 10vh;
}

#top-display .stats {
    font-family: 'Russo One', sans-serif;
    text-align: right;
}

    #top-display h1 {
        font-size: 20px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    #top-display h2 {
        font-size: 50px;
        color: white;
        font-family: 'Russo One', sans-serif;
    }

    #top-display p {
        font-size: 50px;
        margin: 0;
        padding: 0;
        line-height: 45px;
    }

    #top-display h3 {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 20px;
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
    }

#top-display table{
    width: auto;
    margin-right: 0px;
    margin-left: auto;
    vertical-align: middle;
}

#top-display .jumbotron{
    background-color: rgb(17, 17, 17);
}

#top-display .desc{
    padding-right: 20px;
}

#top-display td{
    line-height: 40px;
}

#top-display .info{
    background-color: black;
}

#top-display .main {
    background-color: #312F2F;
}

#top-display .display-names{
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 20vh;
}

#top-display .middle-col {
    border-left: solid 4px white;
    border-right: solid 4px white;
}

#top-display .mid-col-left {
    border-right: solid 2px white;
}

#top-display .mid-col-right {
    border-left: solid 2px white;
}

.win-color {
    color: #52f25d;
}

.elim-color {
    color: #84DCCF;
}

.matches-color{
    color: #F6E8EA;
}

.kdr-color {
    color: #EF626C;
}