body {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(0,0,0);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ---------- Navigation Bar ---------- */
.navbar {
    background-color: black;
}

.nav {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: white;
    transition: 0.3s;
}

    .nav-link:hover {
        color: rgb(125, 125, 125);
    }

/* ---------- Homepage ---------- */
#homepage {
    background: url(../Content/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 69vh;
    text-align: center;
    color: white;
}

    #homepage h1 {
        font-family: 'Russo One', sans-serif;
        font-size: 150px;
        margin-top: 25vh;
    }

    #homepage h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        border-left: solid 4px #84DCCF;
        border-right: solid 4px #EF626C;
        font-weight: 300;
    }

    #homepage a {
        margin-top: 25px;
        background-color: #00C2CB;
        border-radius: 30px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

canvas {
    display: block;
}

/* ---------- Player Stats API ---------- */

#player-search {
    background: url(../Content/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 69vh;
    text-align: center;
    color: white;
}

    #player-search h1 {
        font-family: 'Russo One', sans-serif;
        font-size: 100px;
        margin-top: 25vh;
    }

#player-search h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-left: solid 4px #84DCCF;
    border-right: solid 4px #EF626C;
    font-weight: 300;
}

#username-input {
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

    #username-input span {
        background-color: black;
        color: white;
        border: none;
    }

#does-not-exist{
    color: red;
    font-family: 'Russo one', sans-serif;
    margin-top: 5vh;
    text-align: center;
}

#search-stats-display {
    margin-left: 25px;
    margin-right: 25px;
}

.stat-col {
    background-color: rgb(7, 7, 7);
}

#username-input input{
    color: white;
    background-color: black;
    border: none;
    border-bottom: solid 2px white;
}

#player-stats{
    background-color: rgb(7, 7, 7);
    color: white;
}

    #player-stats .row {
        margin-top: 50px;
        margin-bottom: 100px;
        padding-bottom: 50px;
    }

#player-stats h1 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 75px;
    margin-top: 100px;
    padding-top: 50px;
}

    #player-stats h2 {
        text-align: center;
        font-family: 'Russo One', sans-serif;
        font-size: 50px;
        margin-bottom: 0;
        line-height: 45px;
    }

#player-stats h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.middle-col {
    border-left: solid 4px white;
    border-right: solid 4px white;
}

.mid-col-left {
    border-right: solid 2px white;
}

.mid-col-right {
    border-left: solid 2px white;
}

#stats-jumbo {
    background-color: #312F2F;
    color: white;
}

.white-txt {
    color: white;
}

#more-stats {

}

#more-stats h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 75px;
    color: white;
    text-align: center;
}

#more-stats h5 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    margin-bottom: 0;
    line-height: 45px;
}

#more-stats h6 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
}

/* ---------- Groups ---------- */
#group-header {
    background: url(../Content/images/group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    text-align: center;
    color: white;
}

    #group-header h1 {
        font-family: 'Russo One', sans-serif;
        font-size: 150px;
        margin-top: 25vh;
    }

    #group-header h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        border-left: solid 4px #84DCCF;
        border-right: solid 4px #EF626C;
        font-weight: 300;
        
    }

    #group-header .input-group-text {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        background-color: black;
        color: white;
        border-color: black;
    }

    #group-header #platform-label {
        border-bottom: solid 2px #52f25d;
    }

    #group-header #region-label {
        border-bottom: solid 2px #84DCCF;
    }

    #group-header #mode-label {
        border-bottom: solid 2px #EF626C;
    }

    #group-header .container {
        margin-top: 50px;
    }

    #group-header .custom-select {
        background-color: black;
        color: white;
        font-family: 'Montserrat', sans-serif;
        border-color: black;
        border-bottom: solid 2px white;
    }

#group-list {
    margin-top: 10vh;
}

    #group-list .groups-item {
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 25px;
    }

    #group-list h3 {
        font-family: 'Russo One', sans-serif;
        text-align: left;
        letter-spacing: 1px;
        margin-bottom: 0;
    }

    #group-list h4 {
        font-style: italic;
        font-size: 18px;
        color: rgb(183, 183, 183);
    }

    #group-list p {
        margin-left: 20px;
        margin-bottom: 10px;
    }

hr {
    border: 0;
    clear: both;
    display: block;
    margin-left: 0;
    width: 90%;
    background-color: #FFFFFF;
    height: 1px;
}

.color-1 {
    border-bottom: solid 2px #84DCCF;
}

.color-2 {
    border-bottom: solid 2px #52f25d;
}

.color-3 {
    border-bottom: solid 2px #EF626C;
}

.color-4 {
    border-bottom: solid 2px #F6e8ea;
}


/* ---------- User Profiles ---------- */

#top-display { /*
    margin-left: 5vw;
    margin-right: 5vw;*/
    margin-top: 10vh;
    margin-left: 25px;
    margin-right: 25px;
}

    #top-display .stats {
        font-family: 'Russo One', sans-serif;
        text-align: right;
    }

    #top-display h1 {
        font-size: 20px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    #top-display h2 {
        font-size: 50px;
        color: white;
        font-family: 'Russo One', sans-serif;
    }

    #top-display p {
        font-size: 50px;
        margin: 0;
        padding: 0;
        line-height: 45px;
    }

    #top-display h3 {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 20px;
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
    }

    #top-display table {
        width: auto;
        margin-right: 0px;
        margin-left: auto;
        vertical-align: middle;
    }

    #top-display .jumbotron {
        background-color: rgb(17, 17, 17);
    }

    #top-display .desc {
        padding-right: 20px;
    }

    #top-display td {
        line-height: 40px;
    }

    #top-display .info {
        background-color: black;
    }

    #top-display .main {
        background-color: #000;
    }

    #top-display .display-names {
        text-align: center;
        margin-top: 25vh;
        margin-bottom: 20vh;
    }

    #top-display .middle-col {
        border-left: solid 4px white;
        border-right: solid 4px white;
    }

    #top-display .mid-col-left {
        border-right: solid 2px white;
    }

    #top-display .mid-col-right {
        border-left: solid 2px white;
    }

.win-color {
    color: #52f25d;
}

.elim-color {
    color: #84DCCF;
}

.matches-color {
    color: #F6E8EA;
}

.kdr-color {
    color: #EF626C;
}

/* ---------- Login Page ---------- */

#login-page {
    background: url(../Content/images/login.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
}

#main-login {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15vh;
    border-radius: 5px;
    padding-bottom: 10vh;
}

    #main-login h1 {
        font-family: 'Russo One', sans-serif;
        font-size: 50px;
        margin-top: 10vh;
        margin-bottom: 25px;
        color: white;
        text-align: center;
    }

    #main-login p {
        font-family: 'Montserrat', sans-serif;
        color: white;
        margin-bottom: 50px;
        text-align: center;
    }

.input-group mb-3 {
}

#main-login .input-group-text {
    background-color: #84DCCF;
}

#main-login input {
    font-family: 'Montserrat', sans-serif;
}

.checkbox {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
}

#login-button {
    width: 150px;
}

.form-group .text-center {
    margin-bottom: 5vh;
}

.login-link {
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* ---------- Register Page ---------- */

#register {
    background: url(../Content/images/login.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
}

#register-form {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15vh;
    border-radius: 5px;
    padding-bottom: 10vh;
}

    #register-form h1 {
        font-family: 'Russo One', sans-serif;
        font-size: 50px;
        margin-top: 10vh;
        margin-bottom: 25px;
        color: white;
        text-align: center;
    }

    #register-form p {
        font-family: 'Montserrat', sans-serif;
        color: white;
        margin-bottom: 50px;
        text-align: center;
    }

    #register-form input {
        font-family: 'Montserrat', sans-serif;
    }

#register-button {
    width: 150px;
}
