@{
    ViewBag.Title = "Home Page";
}

<h1 class="index-header">SpaceX Launches</h1>
<div class="container body-content">
    <div id="launch-list" class="row">

    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/main.js"></script>
}