@{
    ViewBag.Title = "App X";
}

<div>
    <div class="homepage-wrap">
        <div class="row align-items-center">
            <div class="col-lg-1 column">
                <div class="center-vertical">
                    <!--
                        <div class="vl">

                    </div>
                    -->
                </div>
            </div>
            <div class="col-lg-8 homepage column">
                <div class="center-vertical">
                    <h1>
                        ALL <br />
                        THINGS <br />
                        FORTNITE <br />
                    </h1>
                </div>
            </div>
            <div class="col-lg-3 homepage-menu-wrapper">
                <div class="home-nav-item" id="mi-1">
                    <span class="menu-description">
                        Player Stats
                    </span>
                </div>
                <div class="home-nav-item" id="mi-2">
                    Something
                </div>
                <div class="home-nav-item" id="mi-3">
                    Something
                </div>
                <div class="home-nav-item" id="mi-4">
                    Something
                </div>
            </div>
        </div>
    </div>
</div>