@{
    ViewBag.Title = "alcvzr";
}

<section id="homepage">
    <h1 class="tracking-in-contract">
        alcvzr
    </h1>
    <h2>
        Your Fortnite stat tracker.
    </h2>
    <a class="btn" href="~/API/Index">
        Get Started
    </a>
</section>
